body {
    background-color: black;
}

.full-grid {
    display: grid;
  
    grid-template-areas:
      "controls header header"
      "controls world world"
      "controls world world";
  
    grid-template-columns: 0.35fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr auto;
    grid-gap: 1px;
  
    height: 100vh;
    width: 100vw;
  }

header {
    text-align: center;
    font-family: 'Yomogi', cursive;
    grid-area: header;
    background-color:rgb(70, 25, 25);
    color: white;
    border-radius: 5px;
    padding: 20px;
}

h1 {
    transition: font-size 2s;
}

h1:hover {
    font-size: 5rem;
}
  
nav {
    grid-area: controls;
    font-family: 'Yomogi', cursive;
    color: white;
    margin-left: 0.5rem;
    background-color:rgb(90, 55, 55);
    border-radius: 5px;
    padding: 10px;
}

nav p {
    text-align: center;
}
  
main {
    grid-area: world;
}

.island {
    border-radius: 5px;
    border: solid black 3px;
}

h3 {
    text-align: center;
    transition: font-size 2s;
}

h3:hover {
    font-size: 2.8rem;
}

h4 {
    transition: font-size 2s;
}

h4:hover {
    font-size: 2rem;
}

.form-label {
    font-size: large;
}

.form-range {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 80%;
}